version: 2.1

jobs:
  build-and-push-docker:
    docker:
      - image: cimg/base:stable
    working_directory: ~/repo

    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      # Create and push git tag (main only)
      - run:
          name: Create git tag
          command: |

            git fetch --tags

            LATEST_TAG=$(git tag -l "v*" | sort -V | tail -n 1)

            if [ -z "$LATEST_TAG" ]; then
              NEXT_VERSION="v1.0.0"
            else
              VERSION=$(echo "$LATEST_TAG" | sed 's/^v//')
              MAJOR=$(echo "$VERSION" | cut -d. -f1)
              MINOR=$(echo "$VERSION" | cut -d. -f2)
              PATCH=$(echo "$VERSION" | cut -d. -f3)
              if [ "$CIRCLE_BRANCH" != "main" ]; then
                NEXT_VERSION="v$MAJOR.$MINOR.$PATCH.dev-$CIRCLE_BUILD_NUM"
              else
                echo "main branch: Incrementing version tag"
                PATCH=$((PATCH + 1))
                NEXT_VERSION="v$MAJOR.$MINOR.$PATCH"
                echo "Creating tag $NEXT_VERSION"
                git config user.email "ci@circleci.com"
                git config user.name "CircleCI"
                git tag "$NEXT_VERSION"
                git push --tag https://$GITHUB_TOKEN@github.com/SimonDoesCoding/$GITHUB_PROJECT.git
              fi
            fi
            IMAGE_VERSION=$(echo "$NEXT_VERSION" | sed 's/^v//')
            echo "export IMAGE_VERSION=$IMAGE_VERSION" >> $BASH_ENV

      # Login to Docker Hub
      - run:
          name: Login to Docker Hub
          command: |
            echo "$DOCKERHUB_TOKEN" | docker login \
              -u "$DOCKERHUB_USERNAME" \
              --password-stdin

      # Build Docker image
      - run:
          name: Build Docker image
          command: |
            docker build \
              --build-arg NUGET_SOURCE_URL=https://nuget.pkg.github.com/simondoescoding/index.json \
              --build-arg NUGET_AUTH_TOKEN=$NUGET_AUTH_TOKEN \
              -t simonaspinall/esports-services-api:$IMAGE_VERSION \
              -t simonaspinall/esports-services-api:latest \
              -f Dockerfile \
              .

      # Push Docker image
      - run:
          name: Push Docker image
          command: |
            docker push simonaspinall/esports-services-api:$IMAGE_VERSION
            docker push simonaspinall/esports-services-api:latest

workflows:
  docker-build-and-publish:
    jobs:
      - build-and-push-docker:
          filters:
            branches:
              only:
                - main
                - development
